@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@300;400;500;600;700&display=swap');

:root {
  --primary: #efb6b2;
  --secondary: #4e4e4e;
  --error: #ff4a4a;
}

body {
  font-family: 'Noto Serif JP', serif;
  color: var(--secondary);
}

.App {
  max-width: 960px;
  margin: 0 auto;
}

.title {
  h1 {
    color: var(--primary);
    font-size: 1.2rem;
    letter-spacing: 2px;
    font-weight: normal;
  }
  h2 {
    margin-top: 50px;
    font-size: 2.6rem;
  }

  h2,
  p {
    text-align: center;
  }
}
